/* root  */
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

ul li{
    list-style: none;
}

/* head  */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    /* margin-bottom: 8px; */
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}


.head .logo {
    display: flex;
    width: 140px;
    justify-content: space-evenly;
    margin-left: 4vw;
    align-items: center;
}

.head .logo .image{
    width: 45;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 0px #887d7dcc;
}

.head .logo .subtitle{
    color: black;
    font-weight: 900;
}

.head .feature ul{
    display: flex;
    padding: 5px;
    gap: 50px;
}

.head .feature ul li{
    border-radius: 5px;
    padding: 5px;
}

.head .feature ul li:hover{
    background-color: #ccc;
    cursor: pointer;
}

.head .action_log .login{
    padding: 10px;
    cursor: pointer;
}

.head .action_log{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 50px;
    margin-right: 5vw;
}

.head .action_log .logup{
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 999px;
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
    transition: opacity .25s;
    width: 7vw;
    text-align: center;
}

.head .action_log .logup:hover{
    cursor: pointer;
}

.head .avt{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 4vw;
}

.bx-user{
    font-size: 30px;
}

.head .avt .arrow-down-ul{
    display: none;
    position: absolute;
    text-align: center;
    bottom: -65px;
    left: -68px;
    width: 140px;
    height: 74px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
    overflow: hidden;
}

.head .avt .arrow-down-ul:hover{
    cursor: pointer;
}

.head .avt .bx-caret-up{
    position: absolute;
    top: -15px;
    right: 22px;
    color: #f3f3f3;
    font-size: 25px;
}
.avt ul li:not(:nth-child(1)){
    padding: 10px 0;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

/* .avt ul li:not(:nth-child(1)){
    border-top: none;
} */

.avt ul li:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /* border-bottom: 1px solid #ccc; */
}

.avt ul li:nth-child(2){
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.avt ul li:hover{
    background-color: #f7efef;
}

.head .avt .bx-user:hover{
    cursor: pointer;
}

.head .avt .arrow-down:hover{
    cursor: pointer;
}

/* main */
.main{
    display: flex;
    overflow: hidden;
}

.main .bar{
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 7px;
    width: 35vh;
    height: 100vh;
    background-color: rgb(249 249 249);
    height: calc(100vh - 72px);
    border-right: 1px  solid #ccc;
    transition: all  0.2s ease;
}

.main .bar .bar-opt{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 10px 10px 0px;
}

.main .bar .bar-opt .btn-bar{
    border: none;
    outline: none;
    background-color: transparent;
}

.main .bar .bar-opt .sidebar:hover{
    cursor: pointer;
}

.main .bar:has(:checked) {
    width: 1px;
    transform: translateX(-1200%);
}

.main .bar .sidebar-on{
    display: none;
    position: absolute;
    left: calc(17vw + 5px);}

.main .bar:has(:checked) .sidebar-on{
    display: block;
}

.sidebar{
    width: 25px;
}

.main .bar a:has(.new_chat){
    display: inline-block;
    width: 25px;
}

.main .bar .new_chat{
    width: 25px;
    margin-left: calc(7vw - 4px);
}

.main .bar .history{
    padding-top: 20px;
}

.main .bar .title_his{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.main .bar .erase{
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 999px;
    background-color: white;
    opacity: 0.7;
    z-index: 2;
}

.main .bar .title_his:hover > .erase{
    display: block;
}

.main .bar .title_his:hover{
    background-color: #ccc;
    cursor: pointer;
}

/* form-input  */

.main .body{
    width: 82vw;
}

.main .bar:has(:checked) ~ .body{
    width: 98vw;
}

.main .bar:has(:checked) ~ .body .form-message{
    width: calc(78vw + 13px);
}

.main .body .form-message{
    width: 68vw;
    height: 80vh;
    overflow: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.main .body .form-message .user-message{
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: flex-end;
}

.main .body .form-message .bot-message{
    display: flex;
    width: 85%;
    background-color: white;
    align-items: center;
    padding-bottom: 30px;
    /* justify-content: flex-end; */
}

.main .body .form-input{
    display: flex;
    width: 85vw;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #fff;

}

.main .body .form-input .send:hover{
    cursor: pointer;
}

.main .body .form-input .input{
    width: 50vw;
    height: 35px;
    border: 2px solid #000;
    outline: none;
    overflow: hidden;
    resize: none;
    padding-left: 8px;
    padding-top: 5px;
    background-color: transparent;
    border-radius: 999px;
}

 .main .body .send{
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: none;
    outline: none;
 }


/* Log in  */

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('/static/img/avt-logup.png');
    background-color: #D9AFD9;
    opacity: 0.8;
}

.background .container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 55vh;
    border: 1px solid #333636 ;
    border-radius: 5px;
    box-shadow: 4px 4px 3px #797676;
    background-color: #fff;
}

.background .container-form h1{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 6vw;
    margin-bottom: 1vw;
}

.background .container-form .mail{
    display: block;
    border: 2px solid #8a8f8f;
    border-radius: 8px;
    width: 23vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vh;
    padding-left: 1vw;
}

.background .container-form .password{
    display: block;
    border: 2px solid #8a8f8f;
    border-radius: 8px;
    width: 23vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12vh;
    padding-left: 1vw;
    margin-bottom: 2vh;
}

.background .container-form .sigin{
    display: block;
    border: 2px solid #8a8f8f;
    border-radius: 8px;
    background-color: #fff;
    width: 24vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.background .container-form .sigin:hover{
    cursor: pointer;
    background-color: #8bea5f;
}

.background .container-form a{
    text-decoration: underline;
    color: rgb(51, 218, 230);
}

.background .container-form .signup{
    display: inline-block;
    padding-left: 3em;

}

.background .container-form .forgot{
    margin-left: 4vw;
}

/* signup  */

.background .container-form .name{
    margin-bottom: 3vh;
}

/* user  */
.user{
    font-size: 25px;
    font-weight: 600;
}
.user:hover{
    cursor : pointer;
}